<div class="container mt-4 d-flex flex-column align-items-center justify-content-center">
    <div class="container mt-4">
    <table class="table table-striped">
        {{#each contacts}}
            {{> contactBlocked}}
        {{/each}}
    </table>
    </div>

    <h3 class="text-center">Изменить контакт</h3>
    <form class="form w-25 mx-auto" data-key="{{contact.id}}">
        <div class="form-group">
            <label for="name" class="form-label">ФИО</label>
            <input class="form-control" id="name" type="text" required name="name" value="{{contact.name}}"
                   oninput="blockButton('{{contact.name}}', '{{contact.phone}}'); this.value = this.value.replace(/[^A-Za-zА-Яа-яЁё\s\.]/g, '') "
                   pattern="[A-Za-zА-Яа-яЁё\s\.]+" title="Только буквы, пробелы и точки"
                   >
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Телефон</label>
            <input class="form-control" type="tel" required name="phone" id="phone" value="{{contact.phone}}"
                   oninput="this.value = this.value.replace(/[^0-9+]/g, '')" maxlength="7" minlength="7"
                   oninput="blockButton('{{contact.name}}', '{{contact.phone}}')" 
                   pattern="^\+375[0-9]{9}$" title="Формат: +375291234567"
                   >
        </div>
    </form>


    <div class="container w-25 mt-4 d-flex flex-row justify-content-between">
        <button class="btn btn btn-secondary" onclick="editContact()">Изменить</button>
        <button class="btn btn btn-secondary" onclick="deleteContact()" id="delete-button">Удалить</button>
        <button class="btn btn btn-secondary" onclick="{{dismiss}}">Отказаться</button>
    </div>
</div>

<style>
    .disabled-link {
        pointer-events: none; 
        color: gray; 
        text-decoration: none;
    }
</style>